body{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    
}

.loader{
    position: fixed;
    width: 100%;
    height:100%;
    top: 0%;
    left: 0%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}
.loader >img{  
    width: 100px;
    height: 100px;
    
}
.loader.hidden{
    animation-name:fadeup;
    animation-duration: 2.1s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(1,-0.85,.09,1.49);
    
    
}
img{
    height: 200px;
    width: 200px;
}
@keyframes fadeup {
    100%{
        opacity: 0;
        visibility: hidden;
    }
    
}